<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Articles</h3>
	</div>
	<?php if ($saved) {?>
	<div class="alert">Page saved.</div>
	<?php }?>
	<form method="post">
		<fieldset>
			<input type="hidden" name="article-id" value="<?php echo $articleId;?>"></input>
			<div class="form-group">
				<label for="">Title</label>
				<input class="form-control" type="text" name="title" value="<?php echo $title;?>" size="60"></input>
			</div>
			<div class="form-group">
				<label for="">Text</label>
				<textarea class="form-control" name="text" rows="10"><?php echo $text;?></textarea>
			</div>
			<div class="form-group">
				<a href="?page=admin&amp;module=hoobr-articles&amp;action=main&amp;hoobr-articles-action=new" class="btn btn-primary">Create new page</a>
				<a href="?page=admin&amp;module=hoobr-articles&amp;action=main&amp;article-id=<?php echo $articleId;?>&amp;hoobr-articles-action=delete" class="btn btn-danger">Delete this page</a>
				<input type="hidden" name="page" value="admin"></input>
				<input type="hidden" name="module" value="hoobr-articles"></input>
				<input type="hidden" name="action" value="main"></input>
				<input type="hidden" name="hoobr-articles-action" value="save">
				<input class="btn btn-default pull-right" type="submit" value="Save page"></input>
			</div>
		</fieldset>
	</form>
</div>